In [39]:
from matplotlib.colors import ListedColormap
from sklearn import model_selection, datasets, metrics, neighbors
from sklearn.model_selection import cross_val_score
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

C:\Users\rkorkin\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\magics\pylab.py:160: UserWarning: pylab import has clobbered these variables: ['clf']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [40]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data > ./wine_data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 10782    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100 10782  100 10782    0     0  10782      0  0:00:01  0:00:01 --:--:-- 10152

In [41]:
dataset = pd.read_csv('wine_data.csv', header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [69]:
X = dataset.drop(0, axis=1)
#.as_matrix()
y = dataset[0]
#.as_matrix()

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape)
print(X_test.shape)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

(124, 13)
(54, 13)

In [70]:
from sklearn.metrics import accuracy_score

def measure_quality(predictions):
    return accuracy_score(y_test, predictions)

In [71]:
clf = neighbors.KNeighborsClassifier(n_neighbors=20)
clf.fit(X_train, y_train)

predictions = clf.predict(X_test)
acc = metrics.accuracy_score(y_test, predictions)
measure_quality(predictions)

0.9629629629629629

In [72]:
(predictions == np.array(y_test)).sum(), len(y_test)

(52, 54)